.fehrest{
  margin:1rem auto;
  display:grid;
  grid-template-columns:repeat(5,64px);
  
  justify-content: space-between;
}
@media screen and (min-width: 480px) {.fehrest{grid-template-columns: repeat(5,90px);}}
@media screen and (min-width: 640px) {.fehrest{grid-template-columns: repeat(5,120px);}}
@media screen and (min-width: 1080px) {.fehrest{grid-template-columns: repeat(5,160px);}}


.link{
  border:2px solid var(--c01);
  display:flex;
  justify-content:center;
  align-items:center;

  background-image: linear-gradient(to right top, #9af2ad, #90f5b8, #87f8c3, #7dfbce, #74fdd9);

}
.link:hover{
  border:3px solid var(--c01);
}

.link{height:64px;}
@media screen and (min-width: 480px) {.link{height:48px;}}
@media screen and (min-width: 640px) {.link{height:54px;}}
@media screen and (min-width: 1080px) {.link{height:72px;}}

.link{font-size:small;}
@media screen and (min-width: 480px) {.link{font-size:medium;}}
/* @media screen and (min-width: 640px) {.link{height:120px;}} */
/* @media screen and (min-width: 1080px) {.link{height:160px;}} */